.gitignore
Makefile
autom4te.cache/
config.h
config.log
config.status
data/Makefile
data/icons/256x256/Makefile
data/icons/48x48/Makefile
data/icons/Makefile
libtool
src/.deps/
src/Makefile
src/snappy
src/snappy-dlna.o
src/snappy-gst_engine.o
src/snappy-screensaver.o
src/snappy-snappy.o
src/snappy-user_interface.o
src/snappy-utils.o
stamp-h1
