.gitignore
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
data/Makefile
data/Makefile.in
data/icons/256x256/Makefile
data/icons/256x256/Makefile.in
data/icons/48x48/Makefile
data/icons/48x48/Makefile.in
data/icons/Makefile
data/icons/Makefile.in
libtool
m4/
src/.deps/
src/Makefile
src/Makefile.in
src/snappy
src/snappy-dlna.o
src/snappy-gst_engine.o
src/snappy-screensaver.o
src/snappy-snappy.o
src/snappy-user_interface.o
src/snappy-utils.o
stamp-h1
